<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div id="formulario">
        <form action="/cotizacion" method="post">
            <br>
            <label for="">Valor del Automovil: </label>
            <input type="number" name="valor" id="valor" required value=<%=valor%>> <br>
            <label for="">Porcentaje de Pago Inicial: </label>
            <input type="number" name="pinicial" id="pinicial" required value=<%=pinicial%>> <br>
            <label for="">Plazos: </label>
            <select name="plazos" id="plazos" required value=<%=plazos%>>
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Mese<s/option>    
                <option value="60">60 Meses</option>
            </select>
            <br>
            <button type="submit">Calcular</button>
            <button type="reset"><a href="/cotizacion" style="color: black; text-decoration: none;">Limpiar</a></button>
            <br>
        </form>
        <% 
            if(valor != null){
                let pagoInicial = valor * pinicial / 100;
                let totalFinanciar = valor - pagoInicial;
                let pagoMensual = totalFinanciar / plazos;
                %><h3>COTIZACIÓN</h3>
                <h6>Pago inicial: $<%=pagoInicial%></h6>
                <h6>Total a Financiar: $<%=totalFinanciar%></h6>
                <h6>Pago Mensual: $<%=pagoMensual%></h6><%
            }
        %>
        
        <br>
    </div>
</section>
<%-include('partials/footer.ejs')%>