<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maiores nemo exercitationem suscipit veniam soluta, quos asperiores ipsa. Quo laboriosam omnis ex accusantium neque quia aperiam libero. Aliquid, reiciendis voluptatem?
Iure adipisci eum esse rem corporis facere! Accusantium mollitia ex doloremque nisi aperiam distinctio, adipisci pariatur, iusto corrupti eligendi saepe. Rem distinctio tempora quibusdam tenetur eligendi quo dolorum? Totam, cum?
Esse vitae qui, optio ratione consequatur beatae ipsa accusantium dolorem molestias, minima recusandae et cumque amet eaque fugiat, neque hic incidunt itaque. Perferendis doloremque aut earum explicabo magni, repudiandae ipsum!
Esse inventore enim quo itaque neque aspernatur quam molestias, temporibus suscipit quis reprehenderit, est accusantium culpa distinctio voluptatibus, odio voluptates voluptas sed provident necessitatibus debitis? Odit beatae labore deserunt est!
Magnam quia repellat quasi vel deserunt! Similique illum explicabo delectus, aliquid facilis perferendis quasi odit in nulla distinctio doloribus labore quis, voluptates cum eos nisi. Beatae cumque autem hic inventore!</p>
<%-include('partials/footer.ejs')%>