<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
<form action="/tabla" method="post">
    <label for="tabla">Tabla</label>
    <input type="text" id="numero" name="numero" required value=<%=numero%>>
    <button type=" submit">Enviar</button>
    <button type="reset">Limpiar</button>


    <% let res=0; if(numero!=null){ for (con=1; con <=10; ++con) { res=con* numero; %>
        <h3>
            <%=numero%> * <%=con%> = <%=res%>
        </h3>
        <%} } %>
</form>
</section>
<%-include('partials/footer.ejs')%>